* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS HEX COLORS PALETTE*/
:root {
    --steel-blue: #4f7cacff;
    --mint-green: #c0e0deff;
    --gunmetal: #162521ff;
    --outer-space: #3c474bff;
    --ice-blue: #9eefe5ff;
    --animal: #008000;
    --vegetable: #fcfc01;
    --user: #9d02b1;
}

body{
    background-color: var(--gunmetal);
}
.wrapper {
    width: 100%;
    height: 100%;
}

/* header */
._myselectbar, ._myoptions {
    background-color: var(--mint-green);
    color: var(--steel-blue);
    font-weight: bold;
    width: 10%;
    cursor: pointer;
}

._mytitle{
    color: var(--ice-blue);
}

/* .container, .card h2{
    color: var(--ice-blue);
} */

.card{
    /* color: var(--mint-green); */
    box-shadow: 2px 2px 5px var(--mint-green)!important;
    background-color: var(--outer-space);
    border-radius: 10px;
    width: calc((100% / 4) - 10px);
    cursor: pointer;
    margin: 5px;
}

._myanimalcards-icons{
    color: var(--animal);
}
._myavegetablecards-icons{
    color: var(--vegetable);
}
._myusercards-icons{
    color: var(--user);
}

@media only screen and (max-width: 560px) {
    
    .card{
        width: calc((100% / 3) - 10px);
    }
}

@media only screen and (max-width: 474px) {
    
    .card{
        width: calc((100% / 2) - 10px);
    }
}