* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS HEX COLORS PALETTE*/
:root {
    --steel-blue: #4f7cacff;
    --mint-green: #c0e0deff;
    --gunmetal: #162521ff;
    --outer-space: #3c474bff;
    --ice-blue: #9eefe5ff;
    ;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background-color: var(--gunmetal);
}

/* header */
._myselectbar, ._myoptions {
    background-color: var(--mint-green);
    color: var(--steel-blue);
    font-weight: bold;
    width: 10%;
}

._mytitle{
    color: var(--ice-blue);
}

.card h1{
    color: var(--outer-space);
}